footer {
  background-image: url('/app/themes/formimpress/assets/img/footer-bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12.5vw;
  padding-bottom: 80px;

  @media (max-width: 992px) {
    background-position: top right;
  }

  .container {
    max-width: 1300px;
    margin: auto;

    @media (max-width: 1300px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .contact-col {
      @media (max-width: 992px) {
        order: 2;
      }

      .footer-logo {
        max-width: 200px;
        margin-bottom: 60px;
      }

      .contact-blue {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #00a8ff;

        @media (max-width: 768px) {
          font-size: 12px;
        }

        p {
          margin: 0;
        }
      }

      .contact-white {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #ffffff;

        @media (max-width: 768px) {
          font-size: 12px;
        }

        p {
          margin: 0;
        }
      }

      .second-col {
        padding-top: 97px;

        @media (max-width: 992px) {
          padding-top: 0px;
        }

        @media (max-width: 768px) {
          padding-top: 20px;
        }
      }
    }

    .footer-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 65px;

      @media (max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    .menu-col {
      @media (max-width: 992px) {
        order: 3;

        margin-top: 40px;
      }

      .footer-menu-wrapper {
        .footer-menu {
          list-style: none;
          padding-left: 0;

          .footer-menu-item {
            a {
              font-family: 'Poppins', sans-serif;
              font-size: 14px;
              color: #ffffff;
              margin-bottom: 20px;
              display: block;

              @media (max-width: 768px) {
                font-size: 12px;
              }

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .person-col {
      @media (max-width: 992px) {
        order: 1;
      }

      .persons-wrapper {
        @media (max-width: 992px) and (min-width: 768px) {
          display: flex;
          justify-content: space-between;
        }

        .contact-person-wrapper {
          margin-bottom: 30px;

          .person-foto {
            width: 100px;
            height: 100px;
            background-size: cover;
            border-radius: 1000px;

            @media (max-width: 768px) {
              width: 80px;
              height: 80px;
            }
          }

          .contact-data {
            padding-left: 30px;
            padding-top: 10px;

            p {
              font-family: 'Poppins', sans-serif;
              font-size: 14px;
              color: #ffffff;
              margin: 0;

              @media (max-width: 768px) {
                font-size: 12px;
              }

              a {
                color: #ffffff;

                &:hover {
                  color: #ffffff;
                  text-decoration: none;
                }
              }

              &.blue {
                color: #00a8ff;
              }
            }
          }
        }
      }
    }
  }

  .bottom-bar {
    display: flex;
    margin-top: -44px;

    @media (max-width: 1250px) {
      margin-top: 30px;
    }

    @media (max-width: 580px) {
      display: block;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }

    .rights-info {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      color: #ffffff;
      display: block;
      margin-left: 130px;
      margin-top: 5px;

      @media (max-width: 768px) {
        font-size: 12px;
      }

      @media (max-width: 580px) {
        margin-left: 0;
        margin-top: 50px;
      }
    }

    .social-icons {
      @media (max-width: 580px) {
        margin-left: -14px;
      }
      
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
          padding: 0 14px;

          a {
            img {
              height: 16px;
              width: auto;
              transition: 0.3s;
              filter: invert(110%);
            }

            &:hover {
              img {
                filter: invert(44%);
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
