html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Header */

header {
  margin-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-left: 250px;

  .header__wrapper {
    display: flex;

    &__content {
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }
}

.button-wrapper,
.social-content,
.action-buttton {
  margin-right: 30px;
}

.nav-trigger {
  background-color: #e7e7e7;
  margin-left: 30px;
  cursor: pointer;
  width: min-content;
  border-radius: 100%;
  z-index: 10;
  transform: rotate(90deg);
  z-index: 80;
  position: absolute;
  right: 14%;
}

#menu-dots {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.menu-dots-open {
  background-image: url('/app/themes/formimpress/assets/img/menu-dots-closed.png');
}

.menu-dots-close {
  background-image: url('/app/themes/formimpress/assets/img/menu-dots-opened.svg');
}

.menu-title {
  display: block;
  width: 120px;
  padding: 13px 30px;
  height: auto;
  text-align: right;
  margin: auto;
  top: 0px;
  border-radius: 60px;
  background-color: #e7e7e7;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

.menu-dots-open:hover .menu-title {
  width: 135px;
  transition: 0.4s;
  opacity: 1;
}

.initial-valuation {
  border-radius: 25px;
  color: #fff;
  background-image: linear-gradient(to right, #00a8ff 0%, #162870 100%);
  padding: 15px 34px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: 0.4s;
  background-position-y: initial;

  &:hover {
    background-image: linear-gradient(to left, #00a8ff 0%, #162870 100%);
    transition: 0.4s;
  }
}

.social-content {
  background-color: #dddddd;
  border-radius: 25px;
  padding: 13px;
  width: max-content;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      padding: 0 14px;

      a {
        img {
          height: 16px;
          width: auto;
          transition: 0.3s;
          filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg)
            brightness(96%) contrast(104%);
        }

        &:hover {
          img {
            filter: invert(44%) sepia(88%) saturate(1463%) hue-rotate(172deg)
              brightness(100%) contrast(107%);
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.lang-content {
  position: absolute;
  left: 0;
}

.language-switcher {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  list-style: none;
  justify-content: center;
  width: 51px;
  cursor: pointer;
  background-color: #162870;
  border-radius: 100px;
  display: grid;

  div {
    margin: auto;
    background-color: #162870;
    border-radius: 100%;
    height: 0px;
    transition: 0.3s;
    opacity: 0;

    &:first-child {
      height: auto;
      opacity: 1;
      padding: 15px;
    }
  }

  .show-langs {
    height: auto;
    opacity: 1;
    transition: 0.3s;
    padding: 15px;
  }
}

.sidebar-wrapper {
  background-color: #162870;
  width: 50%;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  right: -100%;
  transition: 0.5s;
}

.sidebar {
  height: 100%;
  padding: 70px 100px;

  .main-menu {
    padding: 0;
    list-style: none;
    font-size: 24px;
    font-weight: 600;

    li {
      margin-bottom: 30px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.show-sidebar {
  right: 0 !important;
  transition: 0.5s;
}

.soc-icons {
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;

  li {
    margin-right: 50px;

    img {
      filter: invert(97%) sepia(99%) saturate(2%) hue-rotate(323deg)
        brightness(103%) contrast(100%);
    }

    &:hover {
      img {
        filter: invert(53%) sepia(94%) saturate(3540%) hue-rotate(175deg)
          brightness(104%) contrast(104%);
      }
    }
  }
}

.action-buttton {
  width: 150px;
  position: relative;
}

.language-mobile {
  display: none;
}

@media (max-width: 1200px) {
  header {
    padding-left: 80px;
  }

  .button-wrapper,
  .social-content,
  .action-buttton {
    margin-right: 20px;
  }

  .sidebar {
    padding: 70px 70px;
  }
}

@media (max-width: 767px) {
  .button-wrapper,
  .social-content,
  .lang-content {
    display: none;
  }

  header {
    padding-left: 25px;
    margin-top: 20px;
  }

  .header__logo {
    margin-top: 10px;
  }

  .header__logo img {
    width: 170px;
  }

  .sidebar-wrapper {
    width: 100%;
  }

  .sidebar {
    padding: 70px 40px;
  }

  .sidebar .main-menu {
    font-size: 18px;
  }

  .sidebar .main-menu li {
    margin-bottom: 24px;
  }

  .soc-icons {
    margin-top: 35px;
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
  }

  .soc-icons li {
    margin: auto;
  }

  .block-information {
    display: none;
  }

  .language-mobile {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .language-switcher-mobile {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .language-switcher-mobile::-ms-expand {
    display: none;
  }
}

@media (max-width: 360px) {
  .sidebar .main-menu li {
    margin-bottom: 15px;
  }

  .language-mobile {
    margin-bottom: 0;
  }
}
