.single-blog-post {
  background-image: url('/app/themes/formimpress/assets/img/blog-post-bg.png');
  padding-top: 200px;
  padding-bottom: 200px;

  .container-blog {
    max-width: 1080px;
    margin: auto;

    @media (max-width: 1300px) {
      padding: 0 40px;
    }

    .post-title {
      font-family: niveau-grotesk, sans-serif;
      font-size: 42px;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 35px;
      text-align: left;
      color: #162870;

      @media (max-width: 576px) {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 25px;
      }
    }

    .post-meta {
      gap: 25px;
      margin-bottom: 45px;

      @media (max-width: 576px) {
        margin-bottom: 40px;
      }
    }
    p,
    a {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      color: #323232;
      margin: 0;
      line-height: 25px;

      @media (max-width: 1150px) {
        font-size: 14px;
        line-height: 21px;
      }

      strong {
        font-size: 18px;
        line-height: 25px;
        color: #162870;
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    .post-categories {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    .wp-block-image {
      margin-top: 30px;
      margin-bottom: 30px;

      img {
        height: auto;
      }
    }

    .back-btn {
      position: absolute;
      margin-left: -80px;
      margin-top: 10px;

      @media (max-width: 1200px) {
        position: static;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 30px;
        display: block;
      }
    }

    .single-post-links-section {
      padding-top: 50px;
      padding-bottom: 90px;
      margin-top: 50px;
      border-top: solid 2px #d5e3eb;

      .d-grid {
        @media (max-width: 768px) {
          display: grid !important;
          row-gap: 30px;
        }
      }

      .post-link {
        align-self: flex-end;

        a {
          max-width: 210px;
          font-size: 14px;
          line-height: 21px;
          display: flex;

          @media (max-width: 768px) {
            max-width: 100%;
          }

          .post-nav-icon {
            filter: grayscale(1) brightness(0.2);
            width: 14px;
            height: 15px;
            align-self: center;
          }
        }

        &.prev-post {
          a {
            .post-nav-icon {
              margin-right: 14px;
            }
          }

          @media (max-width: 768px) {
            grid-row: 2;
          }
        }

        &.next-post {
          a {
            text-align: right;
            .post-nav-icon {
              margin-left: 14px;
            }
          }

          @media (max-width: 768px) {
            grid-row: 3;
          }
        }
      }

      .share-wrapper {
        width: 190px;

        @media (max-width: 768px) {
          margin: auto;
          grid-row: 1;
        }

        h3 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center;
          color: #162870;
        }

        a {
          background: #e7f0f5;
          width: 50px;
          height: 50px;
          border-radius: 100px;
          padding: 17px;
          display: flex;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.single-post-bottom-section {
  box-shadow: 0px 17px 30px -11px rgba(22, 40, 112, 0.2);
  margin-top: -200px;
  margin-bottom: 60px;

  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 17px 50px -11px rgba(22, 40, 112, 0.2);
  }

  .left-col {
    padding: 50px 50px 60px 60px;
    background: #fff;

    @media (max-width: 1100px) {
      padding: 40px 30px;
    }

    @media (max-width: 576px) {
      padding: 17px;
    }

    h3 {
      margin-bottom: 30px;

      @media (min-width: 768px) and (max-width: 992px) {
        text-align: center;
      }
    }

    p {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      color: #162870;
      margin: 0;
      line-height: 21px;

      @media (max-width: 1186px) {
        margin-left: 20px !important;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        text-align: center;
        margin-left: 0px !important;
      }

      @media (max-width: 576px) {
        font-size: 12px;
      }

      &.role {
        color: #00a8ff;
      }
    }

    img {
      border-radius: 150px;
      width: 100px;
      height: 100px;

      @media (max-width: 992px) {
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        width: 80px;
        height: 80px;
      }
    }
  }

  .right-col {
    padding: 50px 60px;
    background: #e1f0f8;

    @media (min-width: 768px) and (max-width: 992px) {
      text-align: center;
    }

    @media (max-width: 576px) {
      padding: 17px;
    }

    .input-wrapper {
      display: flex;
      margin-bottom: 24px;

      @media (min-width: 768px) and (max-width: 992px) {
        display: block;
      }

      @media (max-width: 460px) {
        display: block;
      }

      input {
        border-radius: 50px 0 0 50px;
        height: 50px;
        width: 90%;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        line-height: 50px;
        background-color: #fff;
        border: none;

        @media (min-width: 768px) and (max-width: 992px) {
          border-radius: 50px 50px 50px 50px;
        }

        @media (max-width: 460px) {
          border-radius: 50px 50px 50px 50px;
          width: 100%;
        }
      }

      button {
        border-radius: 25px;
        color: #fff;
        background-image: linear-gradient(to right, #00a8ff 0%, #162870 100%);
        padding: 15px 34px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        transition: 0.4s;
        background-position-y: initial;
        margin-left: -50px;

        @media (min-width: 768px) and (max-width: 992px) {
          display: block;
          margin: 20px auto 0;
        }

        @media (max-width: 460px) {
          display: block;
          margin: 20px auto 0;
          width: 100%;
        }
      }
    }

    .checkbox-wrapper {
      label {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        line-height: 16px;
        position: relative;
        top: -3px;
        margin-left: 10px;
      }
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #162870;
  }
}
