.container-clients {
  max-width: 1300px;
  margin: auto;

  @media (max-width: 1300px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.clients-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 60px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.single-client {
  box-shadow: 0px 17px 30px -11px rgba(22, 40, 112, 0.2);
  padding: 0 30px;
  text-align: center;
  position: relative;
  height: 520px;

  @media (max-width: 1150px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 50px;
    height: 400px;
  }

  @media (max-width: 576px) {
    margin-bottom: 50px;
    height: 500px;
  }

  &:nth-child(even) {
    @media (max-width: 992px) {
      margin-top: 300px;
    }

    @media (max-width: 768px) {
      margin-top: 0px;
    }
  }

  &:nth-child(odd):not(:first-child) {
    @media (max-width: 992px) {
      margin-top: -150px;
    }

    @media (max-width: 768px) {
      margin-top: 0px;
    }
  }

  .quote-icon {
    position: absolute;
    left: calc(50% - 28px);
    bottom: -26px;
  }
}

.clients__quote {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #323232;
  margin: 0;
  line-height: 25px;

  @media (max-width: 1150px) {
    font-size: 14px;
    line-height: 21px;
  }
}

.client-info-wrap {
  position: absolute;
  width: 100%;
  bottom: 60px;
  height: 44px;
  left: 0;

  @media (max-width: 1150px) {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 50px;
    height: 44px;
    left: 20px;
  }

  .clients__name {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #00a8ff;
    margin: 0;
    line-height: 23px;

    @media (max-width: 1150px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .clients__profession {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #323232;
    margin: 0;
    line-height: 23px;

    @media (max-width: 1150px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.client-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 40px;
  background-position: center;
  background-size: cover;
  border-radius: 150px;
}

.section-heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 88px;
  text-align: center;
  color: #162870;
}

.view-more-realisation {
  text-align: center;
  color: #ff4e00;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  img {
    margin-top: -3px;
    padding-left: 20px;
    transition: 0.5s;
  }

  &:hover {
    color: #ff4e00;
    text-decoration: none;

    img {
      margin: 0 -20px 0 20px;
    }
  }
}
