.cutscene {
  background-image: url('/app/themes/formimpress/assets/img/cta-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
    background-image: url('/app/themes/formimpress/assets/img/cta-mobile-bg.png');
  }
}

.container-cta {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.cta-heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 88px;
  text-align: center;
  color: #fff;

  @media (max-width: 576px) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }
}

.cta-text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  max-width: 860px;
  margin: auto;
  text-align: center;
  margin-bottom: 66px;

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 42px;
  }
}

.cta-button {
  border-radius: 25px;
  padding: 13px 32px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s;
  background-position-y: initial;
  text-decoration: none;
  border: 2px solid;
  margin: 0 10px;
  text-align: center;

  @media (max-width: 576px) {
    display: block;
    font-size: 12px;
    padding: 10px 32px;
    max-width: 200px;
    margin: 0 auto 10px;
  }

  &.orange {
    color: #fff;
    background-color: #ff4e00;
    border-color: #ff4e00;

    &:hover {
      color: #ff4e00;
      background-color: #ffffff;
      border-color: #fff;
      text-decoration: none;
    }
  }

  &.transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;

    &:hover {
      color: #162870;
      background-color: #fff;
      border-color: #fff;
      text-decoration: none;
    }
  }
}