.block {
  &.partners {
    padding: 0 40px 0 80px;
    padding-top: 180px;

    &__heading {
      font-family: niveau-grotesk, sans-serif;
      font-size: 48px;
      line-height: 50px;
      font-weight: bold;
      color: #162870;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
      }
    }

    &__logos-wrap {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 20px;

      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.container-partners {
  max-width: 1300px;
  margin: auto;

  @media (max-width: 1300px) {
    padding: 0 40px;
  }
}
