.container-quality {
  max-width: 1300px;
  margin: auto;

  @media (max-width: 1380px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 576px) {
    padding-left: 0px;
    padding-right: 0px;

    .col-12 {
      padding: 0;
    }
  }
}

.quality-section-heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 88px;
  text-align: center;

  @media (max-width: 992px) {
    font-size: 30px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
  }
}

.quality-item-wrapper {
  width: 100%;
  margin-bottom: 50px;
  position: relative;

  @media (max-width: 576px) {
    margin-bottom: 40px;
  }

  &:hover {
    .realizations-content-wrapper {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  .realizations-content-wrapper {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    transform-origin: 50% 100%;
    transform: scale(1, 0);
    transition: 0.5s;
    opacity: 0;

    @media (max-width: 992px) {
      transform: scale(1, 1);
      opacity: 1;
      background: linear-gradient(
        283deg,
        rgba(255, 255, 255, 0) 19%,
        rgba(225, 240, 248, 1) 19%
      );

      position: static;
    }

    @media (max-width: 576px) {
      padding: 20px 40px;
    }
  }
}

.quality__image {
  width: 100%;
  padding-bottom: 78.7%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.realizations-content {
  position: absolute;
  bottom: 52px;
  left: 60px;
  width: calc(100% - 120px);

  @media (max-width: 992px) {
    position: static;
  }

  @media (max-width: 576px) {
    width: calc(100% - 30px);
  }

  h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #162870;
    font-weight: bold;
    margin-bottom: 24px;

    @media (max-width: 576px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #162870;
    font-weight: bold;
    margin-bottom: 34px;
    max-width: 85%;

    @media (max-width: 1200px) {
      font-size: 25px;
      max-width: 90%;
      line-height: 1;
    }

    @media (max-width: 576px) {
      font-size: 24px;
      line-height: 30px;
    }
    
    @media (max-width: 340px) {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }

  .realisation-button {
    border-radius: 25px;
    padding: 15px 34px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    transition: 0.4s;
    background-position-y: initial;
    text-decoration: none;

    @media (max-width: 1200px) {
      padding: 12px 30px;
      font-size: 12px;
    }

    &:first-of-type {
      color: #fff;
      background-image: linear-gradient(to right, #00a8ff 0%, #162870 100%);
      margin-right: 20px;

      @media (max-width: 576px) {
        margin-right: 10px;
      }

      @media (max-width: 340px) {
        margin: 0;
      }

      &:hover {
        background-image: linear-gradient(to left, #00a8ff 0%, #162870 100%);
      }
    }

    &.light {
      border: 2px solid #00a8ff;
      color: #00a8ff;
      padding: 13px 32px;

      @media (max-width: 1200px) {
        padding: 10px 28px;
      }

      &:hover {
        color: #162870;
        border-color: #162870;
      }
    }
  }
}

.view-more-realisation {
  text-align: center;
  color: #ff4e00;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 60px;
  }

  &:hover {
    color: #ff4e00;
    text-decoration: none;

    img {
      margin: 0 -20px 0 20px;
    }
  }

  img {
    margin-top: -3px;
    padding-left: 20px;
    transition: 0.5s;

    @media (max-width: 576px) {
      padding-left: 10px;
      height: 13px;
    }
  }
}

@media (max-width: 340px) {
  .realizations-content p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}

/* Quality End */
