

/* PARTNERS START */
.block.partners {
  padding-top: 180px;
}

/* Quality Start */

.container-quality,
.container-partners {
  max-width: 1300px;
  margin: auto;
}
.partners__heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  color: #162870;
}

.partners__logos-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
}

.partners__logos-wrap img {
  max-width: 100%;
}
/* PARTNERS END */

.quality-section-heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 88px;
  text-align: center;
}

.quality-item-wrapper {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.quality__image {
  width: 100%;
  padding-bottom: 78.7%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.realizations-content-wrapper {
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  transform-origin: 50% 100%;
  transform: scale(1, 0);
  transition: 0.5s;
  opacity: 0;
}

.realizations-content {
  position: absolute;
  bottom: 52px;
  left: 60px;
  width: calc(100% - 120px);
}

.realizations-content h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #162870;
  font-weight: bold;
  margin-bottom: 24px;
}

.realizations-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #162870;
  font-weight: bold;
  margin-bottom: 34px;
  max-width: 85%;
}

.realizations-content .realisation-button {
  border-radius: 25px;
  padding: 15px 34px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: 0.4s;
  background-position-y: initial;
  text-decoration: none;
}

.realizations-content .realisation-button:first-of-type {
  color: #fff;
  background-image: linear-gradient(to right, #00a8ff 0%, #162870 100%);
  margin-right: 20px;
}

.realizations-content .realisation-button:first-of-type:hover {
  background-image: linear-gradient(to left, #00a8ff 0%, #162870 100%);
}

.realizations-content .realisation-button.light {
  border: 2px solid #00a8ff;
  color: #00a8ff;
  padding: 13px 32px;
}

.realizations-content .realisation-button.light:hover {
  color: #162870;
  border-color: #162870;
}

.quality-item-wrapper:hover .realizations-content-wrapper {
  transform: scale(1, 1);
  opacity: 1;
}

.view-more-realisation {
  text-align: center;
  color: #ff4e00;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.view-more-realisation img {
  margin-top: -3px;
  padding-left: 20px;
  transition: 0.5s;
}

.view-more-realisation:hover {
  color: #ff4e00;
  text-decoration: none;
}

.view-more-realisation:hover img {
  margin: 0 -20px 0 20px;
}

/* Quality End */

/* CLIENT SECTIO START */
.container-clients {
  max-width: 1300px;
  margin: auto;
}

.clients-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 60px;
}

.single-client {
  box-shadow: 0px 17px 30px -11px rgba(22, 40, 112, 0.2);
  padding: 0 30px;
  text-align: center;
  position: relative;
  height: 520px;
}

.clients__quote {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #323232;
  margin: 0;
  line-height: 25px;
}

.client-info-wrap {
  position: absolute;
  width: 100%;
  bottom: 60px;
  height: 44px;
  left: 0;
}

.client-info-wrap .clients__name {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #00a8ff;
  margin: 0;
  line-height: 23px;
}

.client-info-wrap .clients__profession {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #323232;
  margin: 0;
  line-height: 23px;
}

.client-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 40px;
  background-position: center;
  background-size: cover;
  border-radius: 150px;
}

.single-client .quote-icon {
  position: absolute;
  left: calc(50% - 28px);
  bottom: -26px;
}

.section-heading {
  font-family: niveau-grotesk, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 88px;
  text-align: center;
  color: #162870;
}

.view-more-realisation {
  text-align: center;
  color: #ff4e00;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.view-more-realisation img {
  margin-top: -3px;
  padding-left: 20px;
  transition: 0.5s;
}

.view-more-realisation:hover {
  color: #ff4e00;
  text-decoration   : none;
}

.view-more-realisation:hover img {
  margin: 0 -20px 0 20px;
}

/* CLIENT SECTIO END */
