@media (max-width: 1300px) {
  .container-clients {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1150px) {
  .single-client {
    padding: 0 20px;
  }

  .clients__quote {
    font-size: 14px;
    line-height: 21px;
  }

  .client-info-wrap {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 50px;
    height: 44px;
    left: 20px;
  }

  .client-info-wrap .clients__name {
    font-size: 14px;
    line-height: 21px;
  }

  .client-info-wrap .clients__profession {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 992px) {
  .clients-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-client:nth-child(even) {
    margin-top: 300px;
  }

  .single-client:nth-child(odd):not(:first-child) {
    margin-top: -150px;
  }
}

@media (max-width: 768px) {
  .clients-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .single-client {
    margin-bottom: 50px;
    height: 400px;
  }

  .single-client:nth-child(even) {
    margin-top: 0px;
  }

  .single-client:nth-child(odd):not(:first-child) {
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .single-client {
    margin-bottom: 50px;
    height: 470px;
  }
}

@media (max-width: 576px) {
  .single-client {
    margin-bottom: 50px;
    height: 500px;
  }
}
@media (max-width: 1300px) {
  .container-partners {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .partners__heading {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .partners__logos-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}

/* Quality Start */
@media (max-width: 1380px) {
  .container-quality {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1200px) {
  .realizations-content p {
    font-size: 25px;
    max-width: 90%;
    line-height: 1;
  }

  .realizations-content .realisation-button {
    padding: 12px 30px;
    font-size: 12px;
  }

  .realizations-content .realisation-button.light {
    padding: 10px 28px;
  }
}

@media (max-width: 992px) {
  .quality-item-wrapper .realizations-content-wrapper {
    transform: scale(1, 1);
    opacity: 1;
    background: linear-gradient(
      283deg,
      rgba(255, 255, 255, 0) 19%,
      rgba(225, 240, 248, 1) 19%
    );

    position: static;
  }

  .realizations-content {
    position: static;
  }

  .quality-section-heading {
    font-size: 30px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .container-quality {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-quality .col-12 {
    padding: 0;
  }

  .realizations-content-wrapper {
    padding: 20px 40px;
  }
  .realizations-content h4 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .realizations-content {
    width: calc(100% - 30px);
  }

  .realizations-content p {
    font-size: 24px;
    line-height: 30px;
  }

  .realizations-content .realisation-button:first-of-type {
    margin-right: 10px;
  }

  .view-more-realisation {
    font-size: 14px;
    line-height: 60px;
  }

  .view-more-realisation img {
    padding-left: 10px;
    height: 13px;
  }

  .quality-item-wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: 340px) {
  .realizations-content .realisation-button:first-of-type {
    margin: 0;
  }

  .realizations-content p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}

/* Quality End */
